<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="form-card">
        <div class="form-card-2">
            <form class="form">
                <h2 class="title-login">cadastro do  cliente</h2>
                <div class="field">
                    <span class="input-icon icon icon-user-1"></span>
                    <input type="text" class="input-field" placeholder="Nome" autocomplete="off">
                </div>
                <div class="field">
                    <span class="input-icon icon icon-locked"></span>
                    <input type="password" class="input-field" placeholder="telefone">
                </div>
                <div class="field">
                    <span class="input-icon icon icon-locked"></span>
                    <input type="password" class="input-field" placeholder="E-mail">
                </div>
                <div class="box-btn">
                    <button class="btn-login">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
